<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Multichain Client Node</title>
  </head>
  <body>
    <h3 style="display:inline">Client Name:</h3> <p style="display:inline;"><%=hostName%></p><br><br>
    <h3 style="display:inline">Client Public Key:</h3> <p style="display:inline; width:150px; overflow:hidden; word-wrap:break-word"><%=publicKey%></p>
  </body>
</html>